#include "macros.h"
#include "windows.h"

IDD_CONFIG_CIPHER DIALOGEX DISCARDABLE 0, 0, 150, 150
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configure Cipher"
FONT 12, "MS Sans Serif"
BEGIN
	DEFPUSHBUTTON "&OK", IDOK, 50, 100, 25, 10
	PUSHBUTTON "&Apply", CHILD_APPLY, 80, 100, 25, 10
	EDITTEXT CHILD_KEYWORD, 25, 20, 45, 12, WS_CHILD | WS_VISIBLE | ES_AUTOHSCROLL 
	EDITTEXT CHILD_IGNORE, 90, 20, 10, 12
	AUTORADIOBUTTON "Mode", CHILD_ENCODING, 25, 50, 7, 7
	AUTORADIOBUTTON "Mode", CHILD_DECODING, 80, 50, 7, 7
	RTEXT "Encoding", CHILD_TEXT_ENCODING, 35, 48, 30, 12
	RTEXT "Decoding", CHILD_TEXT_DECODING, 90, 48, 30, 12 	
	RTEXT "Keyword", CHILD_TEXT_KEYWORD, 30, 8, 30, 12
	RTEXT "Ignore", CHILD_TEXT_IGNORE, 75, 8, 30, 12
	GROUPBOX "Mode", CHILD_MODE_BOX, 15, 35, 120, 30
END
	